streamlit
streamlit_option_menu
PyPDF2
torch
python-docx
pandas
plotly
numpy
scikit-learn
spacy
nltk
pytesseract
Pillow
faiss-cpu
wordcloud
seaborn
google.generativeai
torch
python-dotenv
watchdog
streamlit-pdf-viewer
langchain
langchain-community
InstructorEmbedding==1.0.1
spacy>=3.0.0
nltk>=3.6.0
sentence-transformers>=2.2.0
streamlit_webrtc
pydub
SpeechRecognition